<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Data Driven Suite">
	
	
	
	<test name="Login to Zoho">
		<classes>
			<class name="testcase.Login_Test" />
		</classes>
	</test>  
	
	
	 <test name="Login Test">
		<classes>
			<class name="testcase.BaseTest" />
		</classes>
	</test>

</suite> <!-- Suite -->
